<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O2O</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--<link rel="stylesheet" href="../../dist/css/sm.min.css" th:href="@{/dist/css/sm.min.css}">-->
    <!--<link rel="stylesheet" href="../../dist/css/sm-extend.min.css" th:href="@{/dist/css/sm-extend.min.css}">-->
    <link rel="stylesheet" href="../../dist/css/sm.css" th:href="@{/dist/css/sm.css}">
    <link rel="stylesheet" href="../../dist/css/sm-extend.css" th:href="@{/dist/css/sm-extend.css}">
    <link rel="stylesheet" href="../../dist/css/button-style.css" th:href="@{/dist/css/button-style.css}">
    <script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../js/jquery-form.js" th:src="@{/js/jquery-form.js}"></script>
    <script type="text/javascript" th:src="@{/js/headline/lineEdit.js}"></script>
<body>
<div class="page-group">
    <div id="page-label-input" class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="/demos/form">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class='title'>头条编辑</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <form id="editForm" th:object="${dto}" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="lineId" name="lineId" th:value="${headLineDto.lineId}">
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">头条名称</div>
                                    <div class="item-input">
                                        <input type="text" id="lineName" name="lineName" placeholder="Your name" th:value="${headLineDto.lineName}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">头条链接</div>
                                    <div class="item-input">
                                        <input type="text" id="lineLink" name="lineLink" placeholder="Your link" th:value="${headLineDto.lineLink}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">优先级</div>
                                    <div class="item-input">
                                        <input type="text" id="priority" name="priority" placeholder="priority" th:value="${headLineDto.priority}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">状态</div>
                                    <div class="item-input">
                                        <input type="text" id="enableStatus" name="enableStatus" placeholder="status" th:value="${headLineDto.enableStatus}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">图片添加</div>
                                    <div class="item-input">
                                        <img src="" th:src="${headLineDto.lineImg}" id="line_image" name="line_image" height="100" width="100">
                                        <span class="button fileInput-button button-fill">
                                        <span>Upload</span>
                                        <input type="file" id="imageFile" name="imageFile" th:onchange="submitUpload()">
                                    </span>
                                        <input type="hidden" id="lineImg" name="lineImg" value="" th:value="${headLineDto.lineImg}">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-email"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">验证码</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="验证码" th:height="30" id="captCha_in"
                                               name="captCha_in">
                                    </div>
                                    <div>
                                        <img src="../Kaptcha" alt="点击更换" title="点击更换" id="captCha_img"
                                             onclick="changeVerifyCode(this)">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success"
                                           th:onclick="lineUpdate()">提交</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
</body>
</html>